$phone-sm: 400px;
$pricing: 480px;
$phone: 550px;
$feats: 600px;
$tab1: 750px;
$tablet: 768px;
$hide-nav: 800px;
$banner: 991px;


@mixin banner {
    @media only screen and (max-width: #{$banner}) {
        @content;
    }
}
@mixin hide-nav  {
    @media only screen and (max-width: #{$hide-nav}) {
        @content;
    }
}
@mixin tab1 {
    @media only screen and (max-width: #{$tab1}) {
        @content;
    }
}
@mixin feats {
    @media only screen and (max-width: #{$feats}) {
        @content;
    }
}
@mixin tablet {
    @media only screen and (max-width: #{$tablet}) {
        @content;
    }
}
@mixin pricing {
    @media only screen and (max-width: #{$pricing}) {
        @content;
    }
} 
@mixin phone {
    @media only screen and (max-width: #{$phone}) {
        @content;
    }
} 
@mixin phone-sm {
    @media only screen and (max-width: #{$phone-sm}) {
        @content;
    }
}

/*----- iphone 5 wide screen -----*/
$phone-1-width: 736px;
$phone-1-height: 360px;

@mixin phone-1 {
    @media only screen and (max-width: #{$phone-1-width}) and (max-height: #{$phone-1-height}) {
        @content;
    }
}

/*------ pixel 2 XL & iphone 6-8 plump --------*/
$phone-3-width: 823px;
$phone-3-height: 414px;

@mixin phone-3 {
    @media only screen and (max-width: #{$phone-3-width}) and (max-height: #{$phone-3-height}) {
        @content;
    }
}
